* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(62, 62, 255);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

h3 {
  font-size: 19px;
  margin-bottom: 5px;
}

header {
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

.display {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  z-index: 3;
  right: 30px;
  width: fit-content;
}

.description {
  background-color: aliceblue;
  border-radius: 0.5rem;
  color: black;
  padding: 13px;
  width: 300px;
  margin: 0.5rem;
}

#map {
  z-index: 1;
  flex: 1;
  height: 100vw;
  width: 100%;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.description h2 h3 p {
  margin-bottom: 10px;
}
